.button1{
	background-color: #45a9dd;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #1a3159;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 16px;
    border: 1px solid #45a9dd;	
}

.button1:hover{
	background-color: #89c340;
    border: 1px solid #89c340;
}

.button2{
	background-color: #1a3159;
    border: 1px solid #1a3159;
    margin: 0 2px 8px;
    font-size: 16px;
    padding: 12px 24px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
	outline: 0;
}

.button2:hover{
	color: #1a3159;
    background-color: transparent;
    border: 1px solid #1a3159;
}

.button3{
	font-weight: bold;
    color: #fff;
    background-color: #45a9dd;
    text-transform: uppercase;
    margin: 0 2px 8px;
    font-size: 16px;
    padding: 12px 24px;
    display: inline-block;    
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    border: 1px solid #45a9dd;
    outline: 0;
}

.button3:hover{
	color: #fff;
    background-color: #1a3159;
    border: 1px solid #1a3159;
}

.button4{
	font-weight: bold;
    color: #1a3159;
    background-color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    margin: 0 2px 8px;
    font-size: 16px;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    outline: 0;
}

.button4:hover{
	color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.button5{
	font-weight: normal;
    color: #fff;
    background-color: transparent;
    text-transform: none;
    border: 1px solid #fff;
    margin: 0 2px 8px;
    font-size: 16px;
    padding: 12px 24px;       
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    outline: 0;         
}

.button5:hover{
    color: #1a3159;
    background-color: #fff;
    border: 1px solid #1a3159;	
}