html{
    font-family: 'Roboto',sans-serif;
}

.topic-list-item:nth-child(even) {
    background-color: #ffffff;
}

.topic-list-item:nth-child(odd) {
    background-color: #e7f0f9;
}

.btn {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
    transition: all .25s;
}